// COLORS
@main-text: #253b57;
@castle-grey: #E0E4E9;
@top-blue: #1A8AC8;
@nav-bg: #eaeaea;
@nav-hover: #78BEE7;

@castle-beige: #EFDDD3;

@potential: #CCDFFE;
@ptext:#F6FAFD;

@linkedin: #0077B5;
@twitter: #55acee;
@lambda: #BB1232;


// escape
@tablet: ~"(min-width:800px)";
@mobile: ~"(min-width: 500px)";
@desktop: ~"(min-width: 1000px)";

@max-tablet: ~"(max-width:800px)";
@max-mobile: ~"(max-width: 500px)";
@max-desktop: ~"(max-width: 1000px)";

@sm-nav: ~"(min-width: 48em)";